<h1>Добавить задачу</h1>

<div ng-if="atc.errors.length > 0">
  <p class="bg-danger" ng-repeat="error in atc.errors">
    {{error}}
  </p>  
</div>
<form>
  <div class="form-group">
    <label for="inputTitle">Заголовок</label>
    <input type="text" class="form-control" id="inputTitle" placeholder="Заголовок" ng-model="todo.title">
  </div>
  <div class="form-group">
    <label for="inputDescr">Описание</label>
    <textarea class="form-control" id="inputDescr" placeholder="Описание" ng-model="todo.description"></textarea>
  </div>
  <div class="form-group">
    <label for="inputUser">Исполнитель</label>
    <select class="form-control" id="inputUser" placeholder="Выбрать исполнителя" ng-model="todo.userId">
        <option value="">Без исполнителя</option>
        <option ng-repeat="item in atc.users" value="{{item._id}}">{{item.name}}</option>
    </select>
  </div>
  <button class="btn btn-default" ng-click="atc.addTodo(todo)">Добавить</button>
</form