<h1>Исполнители</h1>

<div class="users">
	<h2>Добавить исполнителей, <span style="color: red">через запятую</span></h2>
	<div><input type="text" name="name" ng-model="nameInput"><button ng-click="uc.addUsers(nameInput)">Добавить</button></div>

	<div class="name" ng-repeat="item in uc.users">
		<div ng-hide="item.update">
			<span>{{item.name}}</span>
			<span class="update" ng-click="uc.updateState(item)">Обновить</span>
			<span class="delete" ng-click="uc.deleteUser(item)">Удалить</span>
		</div>
		<span ng-show="item.update"><input type="text" ng-model="item.name"><button ng-click="uc.updateUser(item)">Сохранить</button></span>
	</div>
</div>